<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="archiverConfig" type="Archiver.ConfigurationSectionHandler, Archiver" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  
  <archiverConfig>
    <archiveJob source="E:\Development\EXEs" 
                archive="E:\Development\EXEs\Archive"
                filter="*.exe" />
  </archiverConfig>
  
</configuration>